body{
font-family: 'Open Sans', sans-serif !important;
}

a:not(.btn) {
    color: #073A29;
}

body {
    color: #000;
}
body.bg {
    background: #fff;
}
h1,
h2,
h3 {
    margin: 207;
}
h1,
h2,
h3,
h4 {
    color: #000;
}
.uk-text-black {
    color: #000;
}
.uk-text-white {
    color: #fff;
}
.uk-text-yellow {
    color: #073A29;
}
.uk-text-a2 {
    color: #a2a2a2;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.hide-text {
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn {
    display: inline-block;
    padding: 11px 22px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
    background-image: none;
    border: none;
    text-shadow: none;
    border-bottom-color: transparent;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.btn:hover {
    text-decoration: none;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}
.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn.active,
.btn:active {
    background-color: #e6e6e6;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn.disabled,
.btn[disabled] {
    cursor: default;
    background-color: #e6e6e6;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn-lg {
    padding: 15px 30px;
    font-size: 16px;
    line-height: normal;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.btn-lg [class^="icon-"] {
    margin-top: 2px;
}
.btn-sm {
    padding: 8px 16px;
    font-size: 12px;
    line-height: 18px;
}
.btn-sm [class^="icon-"] {
    margin-top: 0;
}
.btn-xs {
    padding: 5px 10px;
    font-size: 11px;
    line-height: 16px;
}
.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-block+.btn-block {
    margin-top: 5px;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
    color: rgba(255, 255, 255, 0.75);
}
.btn {
    border-color: #c5c5c5;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
.btn-default {
    background: transparent;
    border: 2px solid #000;
    color: #000;
    text-shadow: none;
}
.btn-default:hover,
.btn-default:focus {
    background: #000;
    border: 2px solid #000;
    color: #fff;
}
.btn-primary {
    background: #073A29;
}
.btn-primary:hover,
.btn-primary:focus {
    background: #073A29;
}
.btn-warning {
    background: #ff8400;
}
.btn-warning:hover,
.btn-warning:focus {
    background: #b25c00;
}
.btn-danger {
    background: #f00;
}
.btn-danger:hover,
.btn-danger:focus {
    background: #8a0000;
}
.btn-success {
    background: #69bd43;
}
.btn-success:hover,
.btn-success:focus {
    background: #44a219;
}
.btn-info {
    background: none;
    border: 1px solid #073A29;
    color: #999;
    text-shadow: none;
}
.btn-info:hover,
.btn-info:focus {
    background: none;
    border: 1px solid #999;
    color: #073A29;
}
.btn-inverse {
    background: #000;
    color: #fff;
}
.btn-inverse:hover,
.btn-inverse:focus {
    background: #262626;
    color: #fff;
}
button.btn,
input[type="submit"].btn {
    padding-top: 3px;
    padding-bottom: 3px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}
button.btn.btn-lg,
input[type="submit"].btn.btn-lg {
    padding-top: 7px;
    padding-bottom: 7px;
}
button.btn.btn-sm,
input[type="submit"].btn.btn-sm {
    padding-top: 3px;
    padding-bottom: 3px;
}
button.btn.btn-xs,
input[type="submit"].btn.btn-xs {
    padding-top: 1px;
    padding-bottom: 1px;
}
.btn-link,
.btn-link:active {
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn-link {
    border-color: transparent;
    cursor: pointer;
    color: #049cdb;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.btn-link:hover {
    color: #000;
    text-decoration: underline;
    background-color: transparent;
}
a,
a:hover {
    text-decoration: none;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}
.header {
    letter-spacing: -2px;
}
.col-fullsize {
    padding: 0;
}
#header-wrapper {
    margin: 0 auto;
    background: none repeat scroll 0 0 #fff;
    transition: all .7s ease-out 0s;
    border-bottom: 1px solid;
}
.f-menu {
    border-bottom: 1px solid #ededed;
    display: block;
    padding: 0;
    position: fixed;
    top: 0;
    transition: all .7s ease-out 0s;
    width: 100%;
    z-index: 999;
}
.main-navigation {
    position: relative;
}
.col-pad-0 {
    padding-right: 0;
    padding-left: 0;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    font-weight: 400;
    border-bottom: 1px solid #EDEDED;
    color: #000;
	height: 100px;
    border: 0px !important;
}
.navbar-text {
        margin: 0 auto;
    padding: 45px 0;
    font-size: 20.5px;
}
.navbar-text-fixed {
    padding: 16px 0;
}
.navbar-header {
    margin: 0 auto;
}
.navbar-header-fixed {
    padding-top: 11px;
}
.navbar-brand {
    float: left;
    height: 53px;
    margin: 0 auto;
    font-size: 18px;
    padding: 0;
    line-height: 20px;
}
.navbar-brand-fixed {
    padding: 0;
}
.navbar-nav-center {
    float: none;
    margin: 0 auto;
    padding: 30px;
    display: table;
    font-size: 14px;
    table-layout: fixed;
    margin-left: 10px;
    margin-top: 15px;
}
}
.navbar-nav-center-fixed {
    padding: 18px;
}
.navbar-default {
    background-color: #fff;
}
.navbar-default .navbar-text {
    color: #000;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
    padding: 10px 24px;
}
.navbar-nav li{
    padding-right: 20px;
}
.login-images {
	       margin-top: -88px;
    margin-left: 43em;
}
.login_a a:hover {
	  background-color: transparent !important;
}

.ragister{
	    padding: 4px;
    margin-left: 12px;
    width: 13%;
}


.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background-color: #073A29;
    color: #fff;
    border-radius: 100px;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #073A29;
    color: #fff;
    border-radius: 100px;
}
.navbar-default .navbar-toggle {
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 57px;
    width: 48px;
    height: 48px;
    font-size: 18px;
    float: none;
    text-align: center;
    padding: 9px 10px;
    background-color: #32313b;
    color: #fff;
    border: none;
    border-radius: 0;
}
.navbar-default .navbar-toggle:focus {
    outline: none;
}
.navbar-default .navbar-toggle:after {
    content: '\f0c9';
    font-family: FontAwesome;
    font-size: 25px;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #fff;
    background-color: #073A29;
}
.uk-nav-navbar>li>a {
    color: #000;
	font-size:14px;
}
.uk-nav-navbar>li>a:hover,
.uk-nav-navbar>li>a:focus {
    background: #073A29;
    color: #fff;
}

.container-fullsize {
    width: 100%;
    position: relative;
    padding: 0;
}
.owl-carousel .item {
    background: #fff;
    text-align: center;
    height: 600px;
    margin-top: 0;
}
.owl-carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
       height: 190px;
}
.carousel-caption {
    top: 25%;
    right: 10%;
    left: 10%;
}
.carousel-caption-phone {
    top: 0;
}
.owl-carousel .carousel-caption img {
    position: relative;
    width: auto;
    height: 500px;
}
.owl-carousel .carousel-caption .table>tbody>tr>td {
    vertical-align: middle;
}
@media(max-width:979px) {
    .owl-carousel .item {
        height: 500px;
    }
    .owl-carousel img {
        width: auto;
        height: 500px;
    }
    .owl-carousel .carousel-caption img {
        width: auto;
        height: 400px;
    }
}
@media(max-width:767px) {
    .owl-carousel .item {
        height: 380px;
    }
    .owl-carousel img {
        width: auto;
        height: 380px;
    }
    .owl-carousel .carousel-caption img {
        width: auto;
        height: 280px;
    }
}	
.lead {
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 300;
    line-height: .8;
}
.lead-large {
    margin-bottom: 0;
    font-size: 42px;
    font-weight: 300;
    line-height: .8;
}
@media(min-width:768px) {
    .lead {
        font-size: 42px;
    }
    .lead-large {
        font-size: 64px;
    }
}
#owl-slider .btn {
    background-color: transparent;
    border: 2px solid #073A29;
    border-radius: 100px;
    box-shadow: none;
    padding: 10px 25px;
    font-size: 18px;
    margin-top: 10px;
}
#owl-slider .btn-white {
    border-color: #fff;
    color: #fff;
}
#owl-slider .btn-black {
    border-color: #000;
    color: #000;
}
.owl-theme .owl-controls {
    margin-top: 0;
}
.owl-theme .owl-controls .owl-page span {
    background: #073A29;
}
.owl-theme .owl-controls .owl-buttons div {
    background: #fff;
    color: #aaa;
    padding: 20px 15px;
}
.owl-prev {
    float: left;
    position: absolute;
    top: 45%;
    left: 5px;
}
.owl-next {
    float: right;
    position: absolute;
    top: 45%;
    right: 5px;
}
.owl-pagination {
    display: none;
}
#choose-car {
    padding-top: 10em;
    padding-bottom: 35px;
}
.header-car {
    padding: 0 0 25px;
    text-align: center;
    font-weight: 300;
	letter-spacing: 0px;
}
.header-car::after {
    margin: -1px auto;
    
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 6px;
    position: relative;
    width: 90px;
    top: 12px;
    margin-bottom: 8px;
}
#choose-car .nav-tabs {
    background-color: #fff;
    border-bottom: 0;
}
#choose-car .nav-tabs-center {
    float: none;
    margin: 0 auto;
    padding: 0;
    display: table;
    font-size: 14px;
    table-layout: fixed;
}
#choose-car .nav-tabs>li>a {
    color: #073A29;
    padding: 6px 15px;
    border: 2px solid #073A29;
    border-radius: 100px;
}
#choose-car .nav-tabs>li.active>a,
#choose-car .nav-tabs>li.hover>a,
#choose-car .nav-tabs>li.focus>a {
    background-color: #073A29;
    color: #fff;
}
#choose-car .nav-tabs>.active>a,
#choose-car .nav-tabs>.active>a:hover,
#choose-car .nav-tabs>.active>a:focus {
    background-color: #073A29;
    color: #fff;
    border-radius: 100px;
}
#choose-car .nav-tabs>li>a:active,
#choose-car .nav-tabs>li>a:hover,
#choose-car .nav-tabs>li>a:focus {
    background-color: #073A29;
    color: #fff;
    border-radius: 100px;
}
#choose-car .nav-tabs>li>a,
#choose-car .nav-tabs>li>a:hover,
#choose-car .nav-tabs>li>a:focus,
#choose-car .nav-tabs>li.active>a,
#choose-car .nav-tabs>li.active>a:hover,
#choose-car .nav-tabs>li.active>a:focus {
    border-color: #073A29;
    border-radius: 100px;
}
#choose-car .nav-tabs>li.active>a,
#choose-car .nav-tabs>li.active>a:hover,
#choose-car .nav-tabs>li.active>a:focus {
    color: #fff;
    cursor: default;
    background-color: #073A29;
    border: 2px solid #073A29;
}
#choose-car .uk-panel-box-primary {
    color: #fff;
    background: #073A29;
    border: 1px solid #fff;
    border-radius: 50px;
}
#choose-car .uk-panel-box-primary h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}
#book-taxi {
    background-image: url("images/citydrop.jpg");
    background-repeat: repeat-y;
    background-position: center top;
    color: #fff;
    margin: 0;
    padding-top: 35px;
    padding-bottom: 35px;
}
#book-taxi .book-now {
    padding: 0 0 25px;
    text-align: center;
    font-weight: 300;
    color: #fff;
	    letter-spacing: 0px;
}

#book-taxi .radio {
    color: #ffffff;
}
#book-taxi .form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}
#book-taxi .label-left {
    padding-right: 0;
    text-align: left;
    color: #ffffff;
}
#book-taxi .form-control {
    color: #fff;
    background: #1a1a1a;
    border: 1px solid #111;
}
#book-taxi .form-control:focus,
#book-taxi .form-control.active {
    -webkit-box-shadow: 0 0 2px #073A29;
    -moz-box-shadow: 0 0 2px #073A29;
    box-shadow: 0 0 2px #073A29;
}
.ui-widget-header {
    background-color: #073A29;
    color: #fff;
}
.ui-widget-header a {
    background-color: #fff;
    color: #073A29;
}
.header_logo{
margin: 1.5em 2em 0em 5em;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background-color: #e6e6e6;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    background-color: #073A29;
    color: #fff;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    background-color: #fbf9ee;
}
#downloadApp {
    padding-top: 35px;
    padding-bottom: 35px;
}
#downloadApp h5,
p {
    color: #000;
}
#downloadApp span {
    background: #073A29;
    color: #FFF;
}
.p-mar-5 {
    margin-top: -5px;
  }
.p-mar-15 {
    margin-top: -15px;
}
#downloadApp a,
#downloadApp .uk-link {
    color: #fff;
}
.nav-tabs {
    border-bottom: none;
}
#verticalTestimonials {

    padding-top: 35px;
    padding-bottom: 35px;
}
.header-testimonials {
       letter-spacing: 0px;
    text-align: center;
    font-weight: 300;
	    position: absolute;
    right: 8em;
}
.header-testimonials::after {
    margin: -1px auto;
    
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 6px;
    position: relative;
    width: 90px;
    top: 12px;
    margin-bottom: 8px;
}
.nav-tabs-center-testimonials {
    float: none;
    margin: 0 auto;
    margin-top: -65px;
    padding: 0;
    display: table;
    font-size: 14px;
    table-layout: fixed;
    background: transparent;
    background-color: transparent;
}
#sprocketTabs .nav-tabs>li>a {
    background-color: #fff;
    color: #000;
    padding: 6px 15px;
    border: 2px solid #fff;
    border-radius: 100px;
}
#sprocketTabs .nav-tabs>li.active>a,
#sprocketTabs .nav-tabs>li.hover>a,
#sprocketTabs .nav-tabs>li.focus>a {
    background-color: #000;
    color: #fff;
}
#sprocketTabs .nav-tabs>.active>a,
#sprocketTabs .nav-tabs>.active>a:hover,
#sprocketTabs .nav-tabs>.active>a:focus {
    background-color: #000;
    color: #fff;
    border-radius: 100px;
}
#sprocketTabs .nav-tabs>li>a:active,
#sprocketTabs .nav-tabs>li>a:hover,
#sprocketTabs .nav-tabs>li>a:focus {
    background-color: #000;
    color: #fff;
    border-radius: 100px;
}
#sprocketTabs .nav-tabs>li>a,
#sprocketTabs .nav-tabs>li>a:hover,
#sprocketTabs .nav-tabs>li>a:focus,
#sprocketTabs .nav-tabs>li.active>a,
#sprocketTabs .nav-tabs>li.active>a:hover,
#sprocketTabs .nav-tabs>li.active>a:focus {
    border-color: #fff;
    border-radius: 100px;
}
#sprocketTabs .nav-tabs>li.active>a,
#sprocketTabs .nav-tabs>li.active>a:hover,
#sprocketTabs .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #000;
    border: 2px solid #000;
}
#lostProperty {
    padding-top: 35px;
    padding-bottom: 35px;
	background:url(images/city.jpg);
	
}
.header-lost {
    padding: 0 0 25px;
    text-align: center;
    font-weight: 300;
	letter-spacing: 0px;
}
.header-lost::after {
    margin: -1px auto;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 6px;
    position: relative;
    width: 90px;
    top: 12px;
    margin-bottom: 8px;
}
.header-text,
.header-p {
    color: #a2a2a2;
}
.header-p {
    margin-top: -5px;
}
#verticalDriver {
    background: url('images/city-parallax4.jpg');
    background-position: center top;
    background-repeat: repeat;
    background-size: 2500px auto;
    bottom: -500px;
    display: block;
    left: -200px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.header-driver {
    padding: 0 0 25px 0;
    text-align: center;
    font-weight: 300;
    color: #fff;
	letter-spacing: 0px;
}
.header-driver::after {
    margin: -1px auto;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 6px;
    position: relative;
    width: 90px;
    top: 12px;
    margin-bottom: 35px;
}
#verticalDriver .uk-overlay-area-content p {
    color: #fff;
    line-height: 1.0;
}
#verticalDriver .uk-overlay-area-content p>a {
    font-size: 16px;
    font-weight: 600;
}
#verticalDriver .uk-overlay-area-content p>a.btn-sm {
    font-size: 14px;
    font-weight: 400;
}
#taxisSale {
    padding-top: 35px;
    padding-bottom: 35px;
}

#taxisSale .sprocket-tables-item {
    border: 1px solid #073A29;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}
#taxisSale .sprocket-tables-item:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

#taxisSale .sprocket-tables-desc {
    background: none repeat scroll 0 0 #073A29;
    color: #fff;
}
#taxisSale .sprocket-tables-link {
    background: none repeat scroll 0 0 #073A29;
}
#advertising {
    margin: 0 auto;
    background: none repeat scroll 0 0 #073A29;
    color: #fff;
    padding: 35px 0;
    transition: all .7s ease-out 0s;
}
.header-advertising {
    padding: 0 0 25px 0;
    text-align: center;
    font-weight: 300;
    color: #fff;
}
.header-advertising::after {
    margin: -1px auto;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 6px;
    position: relative;
    width: 90px;
    top: 12px;
    margin-bottom: 8px;
}
#advertising .row {
    padding: 0;
}
#advertising ul.spot {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#advertising ul.spot li::before {
    content: "\f164";
    font-family: FontAwesome;
}
#advertising p {
    color: #fff;
}
#advertising a,
.uk-link {
    color: #fff;
}
#bottom {
    margin: 0 auto;
    background: none repeat scroll 0 0 #000;
    color: #fff;
    padding: 5px 0;
    transition: all .7s ease-out 0s;
}
#bottom .row {
    padding: 0;
}
.header-bottom {
  padding: 0px 0px 0px 25px;
    text-align: left;
    font-weight: 300;
    color: #fff;
	letter-spacing: 0px;
}
.header-bottom::after {
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 6px;
    position: relative;
    width: 90px;
    top: 12px;
    margin-bottom: 8px;
}
#bottom p {
    color: #fff;
       margin: 20px;
    text-align: justify;
}
#bottom a,
.uk-link {
    color: #fff;
}
#footer-wrapper {
    background: none repeat scroll 0 0 #000;
    color: #fff;
    padding: 35px 0;
}
#footer-wrapper {
    line-height: 30px;
    padding: 35px 0;
    position: relative;
    color: #fff;
    background: none repeat scroll 0 0 #0d0d0d;
}
#footer-wrapper:after {
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background: none repeat scroll 0 0 #000;
}
#footer-wrapper .gap {
    background: none repeat scroll 0 0 #0d0d0d;
    min-height: 12px;
    width: 100%;
    position: relative;
}
#footer-wrapper .btn.social {
    color: #fff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid #fff;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
    padding: 0px 12px;
}
#footer-wrapper .btn.social:hover {
    color: #fff;
    border: 2px solid #073A29;
    background: #073A29;
    text-decoration: none;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}
#footer-wrapper .totop i {
    background: none repeat scroll 0 0 #141414;
    border-radius: 50px;
    color: #fff;
    font-size: 24px;
    padding: 10px 16px;
    position: relative;
    top: 25px;
}
#footer-wrapper .icon-caret-up {
    background: none repeat scroll 0 0 #141414;
    border-radius: 50px;
    color: #fff;
    font-size: 24px;
    padding: 10px 16px;
    position: relative;
    top: 25px;
}
#footer-wrapper a:not(.btn) {
    color: #fff;
}
#footer-wrapper a:hover {
    text-decoration: none;
    transition: all 200ms ease 0s;
    color: #073A29;
}
#professionalCompany {
    padding-top: 35px;
    padding-bottom: 35px;
}

#professionalCompany .uk-badge {
    border-radius: 50px;
    padding: 2px 8px;
   }
#professionalCompany .uk-panel p {
    color: #000;
    margin: 0;
}
#professionalCompany p.uk-panel-p-5 {
    color: #a2a2a2;
    margin-top: -10px;
}
#professionalCompany .uk-progress {
    border: 2px solid #000;
    padding: 3px;
    border-radius: 50px;
}
#professionalCompany .uk-progress-bar {
    background: none repeat scroll 0 0 #073A29;
    border-radius: 50px;
}
#verticalCityCoverage {
    background: url(images/city-parallax.jpg);
    padding-top: 35px;
    padding-bottom: 35px;
}
.header-coverage {
    padding: 0 0 25px 0;
    text-align: center;
    font-weight: 300;
    color: #fff;
}

#verticalCityCoverage p {
    color: #000;
}
#verticalCityCoverage h4 {
    color: #fff;
}
#verticalOurVehicles {
    background: url(images/city-parallax2.jpg);
    background-position: 50% -236.6px;
    padding-top: 35px;
    padding-bottom: 35px;
}
#verticalOurVehicles .header-vehicles {
    padding: 0 0 25px;
    text-align: center;
    font-weight: 300;
}

.panel-default {
    border-color: #fff;
}
.panel-heading {
    padding: 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.panel-body p {
    color: #000;
    font-family: 'Open Sans', sans-serif;
}
.panel-default>.panel-heading {
    background-color: #fff;
    border-color: #fff;
    color: #000;
    padding: 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.btn.accord {
    font-size: 1.1em;
    line-height: 1.1em;
    color: #000;
    text-align: left;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid #000;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
    padding: 14px 25px;
}
.btn.accord:hover {
    color: #fff;
    border: 2px solid #000;
    background: #000;
    text-decoration: none;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}
.btn.accord.active {
    color: #fff;
    border: 2px solid #000;
    background: #000;
    text-decoration: none;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}
#horizonOurDrivers {
    background: url(images/city-parallax3.jpg);
    background-size: 1920px auto;
    background-position: 60% 28%;
    padding-top: 35px;
    padding-bottom: 35px;
}
#horizonOurDrivers p {
    color: #000;
 
}
#horizonOurDrivers h4 {
    color: #fff;
}
#horizonOurDrivers span.circle {
    background-color: #fff;
}
#verticalCityCab {
    background: url('images/city-parallax4.jpg');
    background-position: center top;
    padding-top: 35px;
    padding-bottom: 35px;
}
.header-city-cab {
    padding: 0 0 25px 0;
    text-align: center;
    font-weight: 300;
    color: #fff;
}


#cityCab h2,
#cityCab h4 {
    color: #fff;
    line-height: 40px;
}
#cityCab h2 {
    font-size: 31.5px;
}
#contact {
    padding-top: 35px;
    padding-bottom: 35px;
}
.header-contact {
    padding: 0 0 10px;
    text-align: left;
    font-weight: 300;
    color: #000;
}

#contact h3 {
    margin-top: 0;
    padding: 0 0 10px;
}
#contact legend {
    border: medium none;
    font-size: 14px;
    color: #000;
    margin: 0 0 20px;
}
#contact .form-horizontal .control-label {
    text-align: left;
}
#contact .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
#contact .form-horizontal {
    margin-bottom: 25px;
}
#contact button.btn,
#contact input.btn[type="submit"] {
    padding: 10px 15px;
}
#contact button.btn,
#contact input.btn[type="submit"] {
    padding-bottom: 10px;
    padding-top: 10px;
}
#contact .btn-primary {
    background: none repeat scroll 0 0 #073A29;
}
#contact .btn {
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
#contact .btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-radius: 50px;
    border-style: none;
    border-width: medium;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    text-align: center;
    text-shadow: none;
    transition: all 400ms ease 0s;
    vertical-align: middle;
}
#contact .control-label {
    color: #073A29;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
#contact input[type="text"],
#contact input[type="password"],
#contact input[type="datetime"],
#contact input[type="datetime-local"],
#contact input[type="date"],
#contact input[type="month"],
#contact input[type="time"],
#contact input[type="week"],
#contact input[type="number"],
#contact input[type="email"],
#contact input[type="url"],
#contact input[type="search"],
#contact input[type="tel"],
#contact input[type="color"],
#contact .uneditable-input {
    border: 2px solid #000;
    border-radius: 50px;
    padding: 10px;
    width: 100%;
}
#contact textarea {
    border: 2px solid #000;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
}
#faq {
    padding-top: 35px;
    padding-bottom: 35px;
}
.header-fac {
    padding: 0 0 10px;
    text-align: left;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
#faq p {
      font-size: 14px;
}
#faq .btn-inverse {
    color: #fff;
}

#faq h3 {
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    margin: 0;
    letter-spacing: -2px;
    padding: 0 0 25px;
}
#faq .header-p {
    margin-top: 15px;
}
#faq .panel-body>p {
    margin: 0;
}
#blog {
    padding-top: 35px;
    padding-bottom: 0;
    line-height: 20px;
}
article {
    margin-bottom: 15px!important;
    padding-bottom: 35px;
}
.entry-title {
    margin-bottom: 15px!important;
}
.page-header {
    border: medium none;
    margin: 0 0 20px;
    padding-bottom: 10px;
}
.entry-meta.muted {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 2px solid #073A29;
    border-radius: 50px;
    color: #000;
    font-size: 12px;
    margin-bottom: 15px;
    padding: 15px;
    position: relative;
}
.entry-meta.muted>span,
.entry-meta.muted>time {
    font-size: 14px;
    margin: 0 5px;
}
.create-date {
    background: none repeat scroll 0 0 #073A29;
    border-radius: 50px 0 0 50px;
    color: #fff;
   font-family: 'Open Sans', sans-serif;
    margin-left: -16px!important;
    padding: 18px 25px;
}
.create-date .day {
    font-size: 18px;
}
.create-date .month {
    font-size: 18px;
}
.create-date .year {
    color: #000;
}

.entry-content {
    margin-bottom: 25px;
}
.entry-content-bottom-zero {
    margin-bottom: 0;
}
.taxi {
    border-radius: 50px;
}
.entry-content p {
    color: #000;
   
}
.clearfix::after {
    clear: both;
}
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    line-height: 0;
}
.footer .entry-meta {
    margin-top: 15px;
}
.readmore {
    color: #000;
    margin-top: 15px;
    bottom: 30px;
    padding: 10px 20px;
    background: transparent;
    border: 2px solid #000;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #000!important;
    text-shadow: none;
   
}
.readmore:hover,
.readmore:focus {
    background: #000;
    color: #fff!important;
}
ul.pagenav,
ul.pagination {
    color: #000!important;
    list-style: outside none none;
    margin-left: 0;
    margin-top: 10px;
    overflow: hidden;
    padding: 0;
    background: transparent;
  
}
.pager {
    margin-bottom: 0;
}
.pager li>a,
.pagination li>a,
.pager li>span,
.pagination li>span {
    color: #000!important;
    border: 2px solid #000;
    background: transparent;
    border-radius: 50px;
}
.pagination>.active>a,
.pagination>.active>a:hover,
.pager li>a:hover,
.pagination li>a:hover,
.pager li>span:hover,
.pagination li>span:hover {
    background-color: #000;
    border-color: #000;
    color: #fff!important;
}
.pull-right {
    margin-top: 0;
}
.counter {
    margin-top: 25px!important;
    color: #000;
 
}
#blog ul {
    padding-left: 0!important;
}
.pagination>li:first-child>a,
.pagination>li:first-child>span {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

#breadcrumb-wrapper {
    background: none repeat scroll 0 0 #073A29;
    color: white;
    display: block;
    padding: 15px 0;
    text-align: center;
}
.breadcrumb {
    background-color: #073A29;
    margin-bottom: 0;
}
.breadcrumb>.active {
    color: #fff;
}
.breadcrumb>li+li::before {
    color: #fff;
    content: "/ ";
    padding: 0 5px;
}
#breadcrumb a:not(.btn) {
    color: #fff;
}
#breadcrumb a:hover:not(.btn) {
    color: #000;
}

.dropcap::first-letter {
    color: #666;
    display: block;
    float: left;
  font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    line-height: 40px;
    padding: 4px 8px 0 0;
}
.dropcap {
    overflow: hidden;
}
ul.arrow,
ul.arrow-double,
ul.tick,
ul.cross,
ul.star,
ul.rss,
ul.spot {
    list-style: outside none none;
    margin: 0;
    padding: 0;
  
}
ul.arrow li::before,
ul.arrow li::after,
ul.arrow-double li::before,
ul.arrow-double li::after,
ul.tick li::before,
ul.tick li::after,
ul.cross li::before,
ul.cross li::after,
ul.star li::before,
ul.star li::after,
ul.rss li::before,
ul.rss li::after {
  font-family: 'Open Sans', sans-serif;
    font-size: 11px;
}
ul.spot {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.spot li::before,
ul.spot li::after {
  font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
ul.arrow li::before,
ul.arrow-double li::before,
ul.tick li::before,
ul.cross li::before,
ul.star li::before,
ul.rss li::before,
ul.spot li::before {
    margin-right: 5px;
}
ul.arrow li::before {
    content: "\f105";
}
ul.arrow-double li::before {
    content: "\f101";
}
ul.tick li::before {
    content: "\f00c";
}
ul.cross li::before {
    content: "\f00d";
}
ul.star li::before {
    content: "\f006";
}
ul.rss li::before {
    content: "\f09e";
}
ul.spot li::before {
    content: "\f164";
}
ol.arrow,
ol.arrow-double,
ol.tick,
ol.cross,
ol.star,
ol.rss,
ol.spot {
    list-style: outside none none;
    margin: 207;
    padding: 0;
 
}
ol.arrow li::before,
ol.arrow li::after,
ol.arrow-double li::before,
ol.arrow-double li::after,
ol.tick li::before,
ol.tick li::after,
ol.cross li::before,
ol.cross li::after,
ol.star li::before,
ol.star li::after,
ol.rss li::before,
ol.rss li::after {
  font-family: 'Open Sans', sans-serif;
    font-size: 11px;
}
ol.spot {
    list-style: none;
    padding: 0;
    margin: ;
}
ol.spot li::before,
ol.spot li::after {
 font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
ol.arrow li::before,
ol.arrow-double li::before,
ol.tick li::before,
ol.cross li::before,
ol.star li::before,
ol.rss li::before,
ol.spot li::before {
    margin-right: 5px;
}
ol.arrow li::before {
    content: "\f105";
}
ol.arrow-double li::before {
    content: "\f101";
}
ol.tick li::before {
    content: "\f00c";
}
ol.cross li::before {
    content: "\f00d";
}
ol.star li::before {
    content: "\f006";
}
ol.rss li::before {
    content: "\f09e";
}
ol.spot li::before {
    content: "\f164";
}
.blocknumber {
    position: relative;
    min-height: 45px;
}
.blocknumber span {
    font-weight: bold;
    width: 48px;
    height: 48px;
    line-height: 48px;
    display: block;
    text-align: center;
    position: absolute;
    top: 0;
    margin: 0 -60px;
}
.blocknumber span.rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.blocknumber span.circle {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    padding: 0;
}
.blocknumber-ltr {
    padding: 5px 0 5px 60px;
    left: 0;
}
.term{
    text-align: justify;
font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: oblique;
    font-weight: lighter;
}
.term img{
	background:red;
}
.term1{
    text-align: justify;
font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: oblique;
    font-weight: lighter;
}
.term2{
    text-align: justify;
font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: oblique;
    font-weight: lighter;
}
.contact_button, .contact_button:link, .contact_button:visited {
    color: #FFFFFF;
    background-color: #73AD21;
    background-color: #4CAF50;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.contact_button:hover, .contact_button:active {
    background-color: #ffffff;
    color: #73AD21;
    color: #4CAF50;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}










.terms{
	margin-top: 8em;
}
.terms h2{
	text-align:center;
}

.terms h5{
	font-weight:bold;
	color:black;
}

.terms h4{
	text-align:center;
}

.terms p{
	color:#000;
	line-height:30px;
}

.terms ol li {
	line-height:40px;
	
}
.about_ul li {
    margin-bottom: 10px;
}
.terms ul li {
	line-height:35px;
	
}

.About h2{
	text-align:center;
}

.About p{
	color:#000;
	line-height:30px;
}

.About h3{
	text-align:center;
}

.About ul li{
	line-height:30px;
}

.Coverage h1{
	text-align:center;
}

.Coverage h2{
	text-align:center;
}

.Coverage h3{
	color:#f7b926;
}

.Coverage table tr td{
	border-style: solid;
	text-align:center;	
}

.Coverage p{
	color:#000;
	font-size:18px;
}



.Standard h3{
	padding-left: 31px;
    padding-top: 28px;
}

.Standard  img{
	      margin-top: -75px;
    margin-left: 253px;
    height: 78px;
}




.stat-count {
	font-size: 51px;
	font-weight: normal;
	letter-spacing: -0.02em;
	line-height: 1.2;
	margin-bottom: 20px;
	overflow:hidden;
font-family: 'Open Sans', sans-serif;
	padding: 0;
	position: relative;
}
.stat-detail {
	color:#fff;
font-family: 'Open Sans', sans-serif;
}
.counter{
text-align:center;
color:#FFFFFF !important;
}
.client{
    margin-left: 20px;
}
.driver_name{
margin-left: 3px;
}
.journey_name{
    margin-left: 13px;
}
.transaction_amount{
    margin-left: 70px;
}
.journey_client{
margin-left: 10px;
}
.journey_driver{
margin-left: -4px;
}
.journey{
margin-left: 10px;
}
.journey_pound{
margin-left: 85px;
}
.contact_header{
position: absolute;
right: 28%;
    bottom: 2.8em;
}
.validation{
color:red;
}
@media only screen and (max-width : 991px) {
	.main-navigation {
    position: relative;
    width: 100%;
}
.header_logo {
    margin-top: 25px;
    margin-right: -70px;
    width: 100%;
    margin-left: 21px;
}.navbar-default .navbar-nav>li>a {
    color: #000;
    padding: 10px 15px;
}
	
}
@media only screen and (max-width: 850px){
.header_logo {
    margin-top: 35px;
    margin-right: -70px;
    width: 80%;
    margin-left: 21px;
}
.navbar-default {
    background-color: #fff;
    margin-right: 50px;
}
}
@media only screen and (max-width: 813px){
.navbar-default {
    background-color: #fff;
    margin-right: 25px;
}
}
@media only screen and (max-width: 788px){
.header_logo {
    margin-top: 35px;
    margin-right: -120px;
    width: 100%;
    margin-left: 21px;
}
}
@media only screen and (max-width: 767px){
.navigation {
   
       margin-left: -19em;
    margin-top: -3.8em;
}
.navbar-default .navbar-toggle{
    top: 20px;
    right: 0px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background: white;
    margin-top: 47px;
    width: 104%;
}
.navbar-header-fixed {
    padding-top: 0px;
}
.header_logo
{
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 20px;
}
}
@media only screen and (max-width: 650px){
.navigation {
 
    margin-left: -14em;
    margin-top: -3.8em;
}
}
@media only screen and (max-width: 650px){
.navigation {
    margin-left: -11em;
    margin-top: -3.8em;
}
}
@media only screen and (max-width: 650px){
.navigation {
    margin-left: -7em;
    margin-top: -3.8em;
}
}
@media only screen and (max-width: 400px){
.header_logo {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 30px;
    width: 75%;
}
}